

.filters-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    
    text-align: center;
    letter-spacing: 0.03em;
}

.filters-button:hover,
.filters-button:focus {
    color:white;
    background-color: var(--accent-color);

}
